################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Tests/obj/Release/Tests.csprojAssemblyReference.cache
/source/Tests/obj/Release/Tests.csproj.FileListAbsolute.txt
/source/Tests/obj/Release/Tests.csproj.CoreCompileInputs.cache
/source/Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/source/Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/source/Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/source/Tests/obj/Release
/source/Tests/obj/Debug/Tests.csprojResolveAssemblyReference.cache
/source/Tests/obj/Debug/Tests.csprojAssemblyReference.cache
/source/Tests/obj/Debug/Tests.csproj.CoreCompileInputs.cache
/source/Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/source/Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/source/Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/source/Tests/obj/Debug
/source/Tests/obj
/source/packages/TheMinefighter.ConfirmationDialogs.1.0.3-beta/TheMinefighter.ConfirmationDialogs.1.0.3-beta.nupkg
/source/packages/TheMinefighter.ConfirmationDialogs.1.0.3-beta/lib/net40/ConfirmationDialogs.xml
/source/packages/TheMinefighter.ConfirmationDialogs.1.0.3-beta/lib/net40/ConfirmationDialogs.dll
/source/packages/TheMinefighter.ConfirmationDialogs.1.0.3-beta/lib/net40
/source/packages/TheMinefighter.ConfirmationDialogs.1.0.3-beta
/source/packages/JetBrains.Annotations.11.1.0/lib/portable40-net40+sl5+win8+wp8+wpa81/JetBrains.Annotations.xml
/source/packages/JetBrains.Annotations.11.1.0/lib/portable40-net40+sl5+win8+wp8+wpa81/JetBrains.Annotations.dll
/source/packages/JetBrains.Annotations.11.1.0/lib/portable40-net40+sl5+win8+wp8+wpa81
/source/packages/JetBrains.Annotations.11.1.0/lib/portable40-net40+sl4+win8+wp7/JetBrains.Annotations.xml
/source/packages/JetBrains.Annotations.11.1.0/lib/portable40-net40+sl4+win8+wp7/JetBrains.Annotations.dll
/source/packages/JetBrains.Annotations.11.1.0/lib/portable40-net40+sl4+win8+wp7
/source/packages/JetBrains.Annotations.11.1.0/lib/netstandard1.0/JetBrains.Annotations.xml
/source/packages/JetBrains.Annotations.11.1.0/lib/netstandard1.0/JetBrains.Annotations.dll
/source/packages/JetBrains.Annotations.11.1.0/lib/netstandard1.0/JetBrains.Annotations.deps.json
/source/packages/JetBrains.Annotations.11.1.0/lib/netstandard1.0
/source/packages/JetBrains.Annotations.11.1.0/lib/net20/JetBrains.Annotations.xml
/source/packages/JetBrains.Annotations.11.1.0/lib/net20/JetBrains.Annotations.dll
/source/packages/JetBrains.Annotations.11.1.0/lib/net20
/source/packages/JetBrains.Annotations.11.1.0/lib
/source/packages/JetBrains.Annotations.11.1.0/JetBrains.Annotations.11.1.0.nupkg
/source/packages/JetBrains.Annotations.11.1.0
/source/packages
/source/ConfirmationDialogs.sln.DotSettings.user
/source/ConfirmationDialogs/TheMinefighter.ConfirmationDialogs.1.0.3-beta.nupkg
/source/ConfirmationDialogs/TheMinefighter.ConfirmationDialogs.1.0.2-beta.nupkg
/source/ConfirmationDialogs/TheMinefighter.ConfirmationDialogs.1.0.1-beta.nupkg
/source/ConfirmationDialogs/TheMinefighter.ConfirmationDialogs.1.0.0-beta.nupkg
/source/ConfirmationDialogs/obj/Release/MainWindow.g.i.cs
/source/ConfirmationDialogs/obj/Release/MainWindow.g.cs
/source/ConfirmationDialogs/obj/Release/MainWindow.baml
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs_MarkupCompile.cache
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.pdb
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.g.resources
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.dll
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.csprojAssemblyReference.cache
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.csproj.GenerateResource.cache
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.csproj.FileListAbsolute.txt
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.csproj.CoreCompileInputs.cache
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.csproj.CopyComplete
/source/ConfirmationDialogs/obj/Release/ConfirmationDialogs.ConfirmationStrings.resources
/source/ConfirmationDialogs/obj/Release
/source/ConfirmationDialogs/obj/Debug/TempPE/ConfirmationStrings.Designer.cs.dll
/source/ConfirmationDialogs/obj/Debug/TempPE
/source/ConfirmationDialogs/obj/Debug/MainWindow.g.i.cs
/source/ConfirmationDialogs/obj/Debug/MainWindow.g.cs
/source/ConfirmationDialogs/obj/Debug/MainWindow.baml
/source/ConfirmationDialogs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs_MarkupCompile.i.cache
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs_MarkupCompile.cache
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.pdb
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.g.resources
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.dll
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.csprojAssemblyReference.cache
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.csproj.GenerateResource.cache
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.csproj.FileListAbsolute.txt
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.csproj.CoreCompileInputs.cache
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.csproj.CopyComplete
/source/ConfirmationDialogs/obj/Debug/ConfirmationDialogs.ConfirmationStrings.resources
/source/ConfirmationDialogs/obj/Debug
/source/ConfirmationDialogs/obj
/source/ConfirmationDialogs/ConfirmationDialog.csproj.nuspec
/source/ConfirmationDialogs/ConfirmationDialog.csproj.1.0.0-beta.nupkg
/source/ConfirmationDialogs/bin/Release/JetBrains.Annotations.xml
/source/ConfirmationDialogs/bin/Release/JetBrains.Annotations.dll
/source/ConfirmationDialogs/bin/Release/ConfirmationDialogs.xml
/source/ConfirmationDialogs/bin/Release/ConfirmationDialogs.pdb
/source/ConfirmationDialogs/bin/Release/ConfirmationDialogs.dll
/source/ConfirmationDialogs/bin/Release
/source/ConfirmationDialogs/bin/Debug/JetBrains.Annotations.xml
/source/ConfirmationDialogs/bin/Debug/JetBrains.Annotations.dll
/source/ConfirmationDialogs/bin/Debug/ConfirmationDialogs.pdb
/source/ConfirmationDialogs/bin/Debug/ConfirmationDialogs.dll
/source/ConfirmationDialogs/bin/Debug
/source/ConfirmationDialogs/bin
/source/ConfirmationDialogs
/source/.vs/ConfirmationDialogs/v15/Server/sqlite3/storage.ide-wal
/source/.vs/ConfirmationDialogs/v15/Server/sqlite3/storage.ide-shm
/source/.vs/ConfirmationDialogs/v15/Server/sqlite3/storage.ide
/source/.vs/ConfirmationDialogs/v15/Server/sqlite3/db.lock
/source/.vs/ConfirmationDialogs/v15/Server/sqlite3
/source
